* {
    margin: 0;
    padding: 0;
}

.grupo {
    display: flex;
    flex-direction: colum;
}

.cabecalho {
    background-color: #003326;
    color: #fff;
    padding: 10px;
}

.navegacao {
    background-color: #b60000;
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.secao {
    background-color: #005031;
}

.rodape {
    background-color: #ff8800;
}

img {
    margin: 0px;
}