*{
    margin: 0;
    padding: 0;
}
.cabecalho {
    background-color: #7102bb;
}

.secao {
    background-color: rgb(49, 5, 5);
}

.footer {
    background-color: blanchedalmond;
}

.rodape {
    background-color: blanchedalmond;
}

